@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 4%;
  --border: 240 5% 90%;
  --input: 240 5% 90%;
  --ring: 240 5% 40%;
  --primary: 240 5% 10%;
  --primary-foreground: 0 0% 98%;
}

body {
  @apply bg-background text-foreground;
}
